.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home__header,
.home__contents-wrapper  {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.home__contents-wrapper {
  flex: 1;
}

.home__header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home__title {
  margin: 0;
  background-color: var(--active-color);
  color: #fff;
  padding: 1rem;
  grid-column: span 3;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .home__title {
    grid-column: span 4;
  }
}

@media screen and (max-width: 768px) {
   .home__header {
    background-color: var(--active-color);;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
   }

   .home__title {
    padding: 0;
   }
}
