.not-found__contents {
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 80vh;
    align-items: center;
}

.not-found .home__title {
    padding:  1rem 0;
}

.not-found__nav-link {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5rem;
    padding: 0 1rem;
    border-radius: 1rem;
}

.not-found__nav-link:hover {
    background-color: var(--active-color);
}

.not-found__title {
    color: var(--active-color);
    font-weight: bold;
    text-align: center;
}

.not-found__description {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
