.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home__header,
.home__contents-wrapper {
  display: flex;
}

.home__header {
  height: 7%;
}

.home__contents-wrapper {
  height: 93%;
}

.home__contents-wrapper > * {
  flex: 1;
}

.home__contents {
  padding: 1rem;
}

.home__header {
  justify-content: space-between;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home__header section {
  display: flex;
  gap: 1.5rem;
}

.home__title,
.sidebar {
  width: 350px;
  max-width: 350px;
}

.home__title {
  margin: 0;
  background-color: var(--active-color);
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  z-index: 1;
}

.home_language {
  grid-column-start: 10;
  grid-column-end: 11;
  align-self: center;
}

.home_user {
  align-self: center;
  grid-column-start: 11;
  grid-column-end: 12;
}

.home_language .select-field,
.home_user .select-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.home_language .select-field .select-field__label,
.home_user .select-field .select-field__label {
  font-style: normal;
}

.home_language .select-field .select-field__select,
.home_user .select-field .select-field__select {
  padding: 0.4rem;
}

@media screen and (max-width: 768px) {
  .home__header {
    background-color: var(--active-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .home__title {
    padding: 0;
  }

  .home_language .select-field .select-field__label {
    display: none;
  }
}
