.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home__header,
.home__contents-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.home__contents-wrapper {
  flex: 1;
}

.home__contents {
  grid-column: span 9;
  padding: 1rem;
  position: relative;
}

.home__header {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home__title {
  margin: 0;
  background-color: var(--active-color);
  color: #fff;
  padding: 1rem;
  grid-column: span 3;
  text-align: center;
  z-index: 1;
}

.home_language {
  grid-column-start: 10;
  grid-column-end: 11;
  align-self: center;
}

.home_user {
  align-self: center;
  grid-column-start: 11;
  grid-column-end: 12;
}

.home_language .select-field,
.home_user .select-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.home_language .select-field .select-field__label,
.home_user .select-field .select-field__label {
  font-style: normal;
}

.home_language .select-field .select-field__select,
.home_user .select-field .select-field__select {
  padding: 0.4rem;
}

@media screen and (max-width: 1024px) {
  .home__title {
    grid-column: span 4;
  }

  .home__contents {
    grid-column: span 8;
  }
}

@media screen and (max-width: 768px) {
  .home__header {
    background-color: var(--active-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .home__contents {
    grid-column: span 12;
  }

  .home__title {
    padding: 0;
  }

  .home_language .select-field .select-field__label {
    display: none;
  }
}
