:root {
  --primary-color: #265c79;
  --active-color: #3f9ac9;
  --secondary-color: #e7e9ea;
  --grey-color: #565757;
  --green-color: #c0cc38;
  --red-color: rgb(150, 6, 6);
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
}